html, body {
	height: 100%;
}

body {
	background-color:#0A0A0A;
	
}

.displaynone {
	display:none;
}

#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

#footer {
	height: 60px;
	background-color: #0A0A0A;
	padding-top: 20px;
}

.alert {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
}

#fees .txi_regular {
	background: #d3d3d3;
}

#fees .txi_segwit {
	background: #bae1ff;
}

#fees .txi_multisig {
	background: #baffc9;
}

#fees .txi_hodl {
	background: #ffdfba;
}

#fees .txi_unknown {
	background: #ffb3ba;
}

#fees .txo_p2pkh {
	background: #E679C8;
}

#fees .txo_p2sh {
	background: #FAFE92;
}

#fees .txinputs {
}

#fees .txoutputs {
}

.hideOverflow {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#fees .slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 30px;
	outline: none; 
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border: 2px dotted #c3c3c3;
}

#fees .sliderbtn {
	height: 30px;
	width: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#fees .slider:hover {
	opacity: 1;
}

#fees .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 32px;
	height: 32px;
	border: 0;
	background: url('../images/btc32x.png');
	cursor: pointer;
}

#fees .slider::-moz-range-thumb {
	width: 32px;
	height: 32px;
	border: 0;
	background: url('../images/btc32x.png');
	cursor: pointer;
}

#fees .total {
	font-size: 100px;
}

.green {
	color: #58CD36;
}

.jumbotron {
	background: none;
	
}

#content {
	background-color: #000;
}

#background-bank {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/log.png");
	background-repeat: no-repeat;
	background-position: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #58CD36 !important;
	border-color: #58CD36 !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #58CD36 !important;
	border-color: #58CD36 !important;
}

.badge-primary, .badge-primary:hover, .badge-primary:active, .badge-primary:visited {
    background-color: #58CD36 !important;
	border-color: #58CD36 !important;
}

.incenter {
	text-align: center;
}

.biglog {
	font-size: 107px;
	color: #CFCFCF;
}

.welcome {
	font-size: 42px;
	color: #CFCFCF;
}

.jumbotron h1 {
	color: #CFCFCF !important;
}

.jumbotron p {
	color: #CFCFCF !important;
	font-size: 40px;
}

.jumbotron {
	padding-top: 0 !important;
	padding-left: 100px !important;
	padding-right: 100px !important;
}

.open {
	color: #CFCFCF;
}

.openp {
	color: #CFCFCF;
}




/* input[type=text] {
	background-color: #323232;
	border-color: #323232;
} */

#transactionFee {
	background-color: #323232;
	border-color: #323232;
  	color: white;
}



.tab-content {
border-top: transparent;
padding: 15px;
}

.tab-content .tab-pane {
background-color: rgb(0, 0, 0);
color: #CFCFCF;
}

.navbar-toggle .icon-bar {
	background-color: white !important; 
}

.headtext a {
	color: #CFCFCF;
}

.navbar {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}

.form-control[disabled] {
	background-color: #323232 !important;
	color: #CFCFCF !important;
}

.form-control {
	background-color: #323232 !important;
	color: #CFCFCF !important;
	border: 1px solid #323232 !important;
}

.well {
	background-color: #323232 !important;
	border: 1px solid #323232 !important;
}

a.optionsCollapse {
	color:#58CD36;
}

a#signAdvancedCollapse {
	color:#58CD36;
}

.dropdown-menu {
	background-color: #323232 !important;
}

.dropdown-menu>li>a {
	color: #CFCFCF !important;
}

.alert-warning {
	background-color: #B3D3AA;
	border-color: #B3D3AA;
	color: #000;
}

.nav-pills>li.active>a {
	background-color: #58CD36;
}
